<acl>
   <page-services-customconfig>
      <name>WebCfg - Services: Custom Config page</name>
      <description>Allow access to the 'Services: Custom Config' page.</description>
      <patterns>
         <pattern>ui/customconfig/*</pattern>
         <pattern>api/customconfig/settings/*</pattern>
         <pattern>api/customconfig/service/*</pattern>
      </patterns>
   </page-services-customconfig>
</acl>
